<div class="dashboard">
  <div class="header">
    <h1>Admin Dashboard</h1>
    <button class="logout-btn" (click)="logout()">🚪 Odhlásit se</button>
  </div>

  <div class="card-grid">
    <div class="card" routerLink="/categories">📂 Kategorie</div>
    <div class="card" routerLink="/products">🍾 Produkty</div>
    <div class="card" routerLink="/customers">👤 Zákazníci</div>
    <div class="card" routerLink="/orders">🛒 Objednávky</div>
    <div class="card" routerLink="/users">🔑 Uživatelé</div>
  </div>
</div>
